<!DOCTYPE HTML>
<html xmlns:ng="http://angularjs.org" wiki:ng="http://angularjs.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="expires" content="0">
  <title>&lt;angular/&gt; E2E Test Runner</title>
  <script type="text/javascript" src="assets/angular-scenario.js" ng:autotest></script>
  <%= javascript_include_tag *@angular_tests %>
</head>
<body>
</body>
</html>